@tailwind base;
@tailwind components;
@tailwind utilities;

/* add in index.css */
.glass {
  backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}